<% layout('../layout.html', it) %>
<div class="h-screen flex items-center justify-center">
  <div class="max-w-md mx-auto rounded-md bg-white px-6 py-12 space-y-6 w-full">
    <div class="space-y-2">
      <h1 class="text-2xl font-semibold text-gray-900">The application &laquo;<%= it.client.name %>&raquo; needs access rights to your account</h1>
      <div class="flex items-center space-x-2">
        <div class="w-6 h-6">
          <img src="<%= it.user.picture %>" alt="" class="flex-shrink-0 w-full rounded-full object-cover" />
        </div>
        <span class="text-gray-600 text-xs font-medium"><%= it.user.email %></span>
      </div>
    </div>
    <%~ await includeFile('../flash.html', it) %>
    <div class="space-y-2">
      <h3 class="text-gray-900 font-medium">Choose what permissions you want to grant the application &laquo;<span class="text-blue-600 font-semibold"><%= it.client.name %></span>&raquo;</h3>
      <form method="post" class="space-y-6">
        <ul>
          <% it.valid_scopes.forEach(function (scope) { %>
            <% if (scope.sensitive) { %>
              <li>
                <label class="flex items-center py-2 cursor-pointer">
                  <span class="w-2.5 h-2.5 bg-yellow-500 inline-block rounded-full">
                  </span>
                  <span class="ml-4 text-gray-700">
                    <%= scope.description %>
                  </span>
                  <input type="checkbox" name="selected_scopes" value="<%= scope.key %>" class="ml-auto accent-yellow-400" />
                </label>
              </li>
            <% }%>
          <% }) %>
        </ul>
        <div>
          <h3 class="text-gray-900 font-medium">Make sure the service &laquo;<%= it.client.name %>&raquo; is reliable</h3>
          <p class="mt-2 text-gray-700">
            This site or application will be able to access sensitive information.
            You can view or remove the apps and sites that have access to your account on the <a class="font-semibold text-blue-600" href="#">Account</a> page.
          </p>
        </div>
        <div class="flex space-x-2">
          <button class="flex-1 text-yellow-900 px-4 py-2 rounded-md border border-yellow-500 hover:bg-yellow-50 duration-200">Cancel</button>
          <button class="flex-1 text-yellow-900 px-4 py-2 rounded-md border border-yellow-500 hover:bg-yellow-50 duration-200">Continue</button>
        </div>
      </form>
    </div>
  </div>
</div>
