<% layout('../layout.html', it) %>
<div class="h-screen flex items-center justify-center">
  <div class="max-w-md mx-auto rounded-md bg-white p-6 space-y-6 w-full">
    <h1 class="text-2xl font-semibold">Login</h1>
    <%~ await includeFile('../flash.html', it) %>
    <form method="post" id="" action="/sessions?err_to=/sessions/new&redirect_uri=/" class="flex flex-col space-y-4">
      <% if (it.method === "phone") {%>
        <div class="flex flex-col">
          <label class="flex flex-col text-gray-700 font-medium text-sm">
            Phone
            <input type="number" name="phone" class="p-2 mt-1 border rounded-md focus-within:outline-yellow-500" placeholder="+1 890 777 77 77"/>
          </label>
          <a href="/sessions/new?method=email" class="ml-auto text-sm text-blue-600 mt-1">Email-ID</a>
        </div>
      <% } else { %>
        <div class="flex flex-col">
          <label class="flex flex-col text-gray-700 font-medium text-sm">
            Email
            <input type="email" name="email" class="p-2 mt-1 border rounded-md focus-within:outline-yellow-500" placeholder="john@gmail.com" />
          </label>
          <a href="/sessions/new?method=phone" class="ml-auto text-sm text-blue-600 mt-1">Phone-ID</a>
        </div>
      <% } %>
      <label class="flex flex-col text-gray-700 font-medium text-sm">
        Password
        <input type="password" name="password" class="p-2 mt-1 border rounded-md focus-within:outline-yellow-500" placeholder="complicated-passphrase"/>
      </label>
      <button class="bg-yellow-500 text-gray-900 border-0 px-4 py-2 rounded-md">Login</button>
    </form>
    <p class="text-sm text-center"><span class="text-gray-500">Don't have an account? </span><a class="text-blue-600" href="/users/new">Signup</a></p>
  </div>
</div>
